<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>

  <settings>
    <setting name="jdbcTypeForNull" value="NULL"/>
    <setting name="logImpl" value="LOG4J2"/>
    <setting name="mapUnderscoreToCamelCase" value="true" />
    <setting name="useGeneratedKeys" value="true"/>
  </settings>

  <typeAliases>
    
      <typeAlias alias="LoginResponseDto" type="com.kinopio.eatgo.user.dto.LoginResponseDto"/>
      <typeAlias alias="LoginRequestDto" type="com.kinopio.eatgo.user.dto.LoginRequestDto"/>
    
      <typeAlias alias="StoreDto" type="com.kinopio.eatgo.store.dto.StoreDto"/>
      <typeAlias alias="StoreSimpleResponseDto" type="com.kinopio.eatgo.store.dto.StoreSimpleResponseDto"/>
      <typeAlias alias="Menu" type="com.kinopio.eatgo.store.entity.Menu"/>
     
      <typeAlias alias="StoreDetailResponseDto" type="com.kinopio.eatgo.store.dto.StoreDetailResponseDto"/>
      <typeAlias alias="StoreResponseDto" type="com.kinopio.eatgo.store.dto.StoreResponseDto"/>
      <typeAlias alias="PopularStoreResponseDto" type="com.kinopio.eatgo.store.dto.PopularStoreResponseDto"/>
      <typeAlias alias="TodayOpenStoreResponseDto" type="com.kinopio.eatgo.store.dto.TodayOpenStoreResponseDto"/>
      
      

      <typeAlias alias="StoreStatusRequestDto" type="com.kinopio.eatgo.store.dto.StoreStatusRequestDto"/>
      <typeAlias alias="StoreHistoryRequestDto" type="com.kinopio.eatgo.store.dto.StoreHistoryRequestDto"/>
    
   	  <typeAlias alias="Tag" type="com.kinopio.eatgo.store.entity.Tag"/>
   	  <typeAlias alias="OpenInfo" type="com.kinopio.eatgo.store.entity.OpenInfo"/>
   	  
      <typeAlias alias="ReviewDto" type="com.kinopio.eatgo.store.dto.ReviewDto"/>
      <typeAlias alias="ReviewResponseDto" type="com.kinopio.eatgo.store.dto.ReviewResponseDto"/>
      <typeAlias alias="ReviewRequestDto" type="com.kinopio.eatgo.store.dto.ReviewRequestDto"/>
	  <typeAlias alias="StoreMyPageResponseDto" type="com.kinopio.eatgo.store.dto.StoreMyPageResponseDto"/>
	  <typeAlias alias="StoreModificationResponseDto" type="com.kinopio.eatgo.store.dto.StoreModificationResponseDto"/>

  </typeAliases>
  
</configuration>

